@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.padding-header {
  padding: calc(var(--vh, 1vh) * 4.6875) 5.2083vw calc(var(--vh, 1vh) * 1);
}

.cont {
  height: calc(var(--vh, 1vh) * 100);
}

.vis_img {
  transition: 3s all;
  transform: scale(1);
}

.swiper-slide-active .vis_img {
  animation: scale 2s ease;
}

.abt_img .box1 .bg {
  background-position: right bottom;
  animation: about_bg1 32s 1s linear infinite;
}

.abt_img .box2 .bg {
  background-position: left bottom;
  animation: about_bg2 32s 1s linear infinite;
}

@keyframes about_bg1 {
  0% {
    background-position: right bottom;
  }

  95% {
    background-position: left bottom;
  }

  100% {
    background-position: left bottom;
  }
}

@keyframes about_bg2 {
  0% {
    background-position: left bottom;
  }

  95% {
    background-position: right bottom;
  }

  100% {
    background-position: right bottom;
  }
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
